
body {
  font-family: Arial, sans-serif;
  background-color: #deba92;
  margin: 0;
  padding: 0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff6f61;
  padding: 15px 30px;
  color: #fff;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.about-container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(184, 99, 99, 0.1);
}

.about-container h1 {
  color: #d35400;
  text-align: center;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 18px;
  line-height: 1.6;
  color: #0b0c35;
}
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}