
body {
  font-family: Arial, sans-serif;
  background-color: #fffaf4;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #c8b3a6;
  color: white;
  padding: 20px;
  text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 8px 10px;
    background-color: #040116;
    border-radius: 20px;
    transition: 0.3s;
}

.products {
    display: flex;
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 15px;
    width: 200px;
}

button {
    background: green;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
