
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

.contact-box {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.contact-box h1 {
  margin-bottom: 10px;
  color: #9822e6;
}

.contact-box p {
  margin-bottom: 25px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 8px 10px;
    background-color: #968ccc;
    border-radius: 20px;
    transition: 0.3s;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 20px;
  padding-left: 0;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #726355;
  font-weight: 600;
}

nav ul li a:hover {
  text-decoration: underline;
}

.form label {
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: bold;
}

.form input,
.form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form textarea {
  resize: vertical;
}

.form button {
  margin-top: 20px;
  background: #e67e22;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form button:hover {
  background: #a1754f;
}