


body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fffaf5;
    color: #333;
}

header {
    background-color: #ff6f61;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 8px 10px;
    background-color: #ff8a75;
    border-radius: 20px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #ff4c3b;
}

.foreign-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px;
    gap: 30px;
}

.food-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    width: 280px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.food-card:hover {
    transform: scale(1.05);
}

.food-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.flag {
    font-size: 36px;
    margin-bottom: 10px;
}
.btn {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 22px;
    background: linear-gradient(135deg, #ff6a00, #ff9500);
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background: linear-gradient(135deg, #e65c00, #ff7b00);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.btn:active {
    transform: scale(0.95);
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}