
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #fffefc;
  color: #333;
  padding: 20px;
}

.location-container {
  max-width: 900px;
  margin: auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #d35400;
  margin-bottom: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 8px 10px;
    background-color: #8e5c5c;
    border-radius: 20px;
    transition: 0.3s;
}


p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.map-section iframe {
  border-radius: 10px;
}

.contact-details {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.contact-details h2 {
  color: #e67e22;
  margin-bottom: 5px;
}

.contact-details p {
  font-size: 15px;
  margin-bottom: 10px;
}
