
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('c:\Users\User\Desktop\tasty group web site\image\food.jpg') no-repeat center center/cover;
  font-family: 'Poppins', sans-serif;
  background-color: #e36868;
}

.login-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  color: #fff;
  border: 1px solid rgb(19, 19, 18);
}

.login-container h2 {
  margin-bottom: 20px;
  color: white;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(18, 18, 18);
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: rgb(100, 99, 91);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #070707;
  color: gold;
}

#login-message {
  margin-top: 15px;
  font-size: 14px;
}